.slider {
    height: 200px;
    width: 400px;
    position: relative;
}

.slider__nav__button--next {


    right: 20px;

}

.slider__nav__button--prev {
    left: 20px;
}


.slider__nav__button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.slider__nav__button:hover {
    transform: translateY(-50%) scale(1.1);
}




.slider__nav__button {

    background-color: transparent;
    border: none;


}

.slider__nav__button svg {

    width: 50px;
    height: 50px;


}

.slider__nav__button svg path {

    stroke: white;


}

.slider__content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;

}

.slider__content__item {
    height: 100%;
    min-width: 100%;


}


.slider__content__item img {
    height: 100%;
    width: 100%;


}

/*Responsive*/
@media (min-width: 768px) {
    .slider {
        height: 400px;
        width: 800px;
        position: relative;
    }
}