*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #D3BDB0;
}

/* GUILLAUME*/

header {
    width: 100%;
    background: url('chat_sushi.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Par défaut, prend toute la hauteur de la fenêtre */
}

header>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.61);
    /* Ajoute un fond opaque pour rendre le texte lisible */
    border-radius: 10px;
    /* Ajoute des coins arrondis */
}

header>p {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* mediaQueries pour les téléphones */
@media (max-width: 767px) {
    header {
        height: 40vh;
        /* Réduit à 50% la hauteur de la fenêtre sur les téléphones */
    }

    header .container {
        margin: 30px;
        /* Ajoute une marge pour éviter que le fond opaque touche les bords de la fenêtre */
    }
}

/* mediaQueries écrans plus grands */
@media (min-width: 768px) {
    header {
        height: 400px;
        /* Ajuste la hauteur pour les écrans plus grands */
    }

    header .container {
        margin: 30px;
        padding: 100px;
        /* Ajoute une marge pour éviter que le fond opaque touche les bords de la fenêtre */
    }

    header>p {
        font-size: 1.5em;
        padding: 50px;
    }
}

/*GUILLAUME*/


/* MATHIEU*/
main{
    background: #D3BDB0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    width: 150px; 
    height: 150px; 
    margin: 5px; 
    overflow: hidden;
    border-radius: 50%; 
    border: 2px solid black; 
    background-color: #fff; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card .imgBx,
.card .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.card .contentBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    border-radius: 50%; 
}

.card:hover .contentBx::before {
    transform: scaleX(1);
}

.card .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.card .contentBx .content {
    max-width: 80%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .contentBx .content {
    opacity: 1;
}

.card .contentBx .content h3 {
    font-size: 1em; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBx .content p {
    font-size: 0.8em; 
    line-height: 1.2em;
    font-weight: 300;
}

@media (min-width: 768px){
    .container{
        width: 100%;
    }
}

@media (max-width: 768px){
    .container{
        display: flex;
        max-width: 1100px;
        margin-top: 80px;
    }
}